/* Estilos gerais do corpo */
body {
    min-height: 100vh; /* Ajustado para garantir que ocupe toda a altura */
    background-color: #F8C8DC;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Ocultar a seção de resposta inicialmente */
#ans {
    display: none;
}

/* Ocultar os elementos de áudio (se usar <audio>) */
#audioElements {
    display: none;
}

/* Estilos dos botões "Não" e "Sim" */
#noButton,
#yesButton {
    position: relative;
    margin: 10px;
    transition: 0.5s;
}

/* Estilos do texto de cabeçalho */
.header_text {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 20px 0 10px 0;
}

/* Estilos dos botões */
.buttons {
    display: flex;
    flex-direction: row; /* Mantém os botões lado a lado */
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.btn {
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px; /* Aumenta a margem horizontal */
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff8e9f;
}

/* Container das imagens GIF */
.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Estilos das imagens */
img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

/* Media Queries para dispositivos móveis */
@media only screen and (max-width: 600px) {
    .header_text {
        font-size: 40px;
    }

    .gif_container {
        margin: 10px 0;
    }

    .buttons {
        flex-direction: row; /* Mantém os botões lado a lado */
        flex-wrap: wrap; /* Permite que os botões se ajustem se a tela for muito pequena */
        justify-content: center;
    }

    .btn {
        padding: 10px 20px; /* Reduz o padding para melhor adaptação */
        margin: 5px; /* Ajusta a margem para espaçamento adequado */
        font-size: 14px; /* Reduz o tamanho da fonte */
    }

    #noButton,
    #yesButton {
        margin: 5px;
    }
}
